<div class="backdrop" #backdrop (click)="hide()"> </div>
<div class="model_container" #model_container>
  <div class="model">
    <div class="model__exit">
      <span (click)="hide()" >X</span>
    </div>
    <div class="model__inputbox">
      <form #userForm= "ngForm" (ngSubmit)="onSubmit()">
      
  <br>
  
   <input type="text" name="question" [(ngModel)]="userModel.question" placeholder="Start your question with &quot;What&quot;, &quot;How&quot;, &quot;Why&quot;, etc.">
        <button type="submit">submit</button>
      </form>
    </div>
     {{response}}
    <div class="model__bottom">
      <a class="model__bottom__cancel" (click)="hide()">Cancel</a>
      <a class="model__bottom__add">Add Question</a>
    </div>
  </div>
</div>
